# macOS
.DS_Store

# Windows
Thumbs.db

# Editors & IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temp files
*.tmp
*.bak
*.swp
*~

# Build/output folders (si tu ajoutes un jour un builder)
dist/
build/
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
